<ion-app>
  <ion-header>
    <ion-toolbar>
      <ion-title>
        Ionic Keycloak
      </ion-title>
      <ion-buttons slot="end" size="large" *ngIf="loggedIn" (click)="logout()">
        <ion-icon slot="start" name="log-out-outline"></ion-icon> Logout
      </ion-buttons>
      <ion-buttons slot="end" size="large" *ngIf="!loggedIn" (click)="login()">
        <ion-icon slot="start" name="log-in-outline"></ion-icon> Login
      </ion-buttons>
    </ion-toolbar>
  </ion-header>
  <ion-router-outlet></ion-router-outlet>
</ion-app>
